.blog-section {
    background-color: var(--light);
    width: 100%;
    min-height: 100vh;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-link {
    display: block;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--secondary);
    margin: 10px 0;
}
.post-link h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 10px 0 4px;
    color: var(--dark);
}
.post-link p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0 0 12px;
}
.control {
    margin: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control-left {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#like-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: border-color 200ms, background-color 200ms, color 200ms, box-shadow 200ms;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
#like-button:hover {
    background-color: var(--warning);
}
#like-button[liked] {
    background-color: var(--light);
    box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.08);
    color: var(--warning);
}
#like-button[liked]:hover {
    color: var(--secondary);
}
.markdown-body pre {
    position: relative;
    counter-reset: line;
    transition: background-color 200ms ease-out;
}
.markdown-body pre > .copy-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    overflow: hidden;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 1000px;
    background-color: transparent;
    transition: background-color 200ms ease-out;
    color: rgba(107, 107, 107, 0.5);
}
.markdown-body pre > .copy-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.markdown-body pre > code {
    counter-increment: line;
}
.markdown-body pre > code::before {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    left: 0;
    text-align: right;
    color: #e1e1e1e0;
    content: counter(line);
    padding-right: 0.4rem;
    user-select: none;
}

.markdown-body pre[copied="true"]{
    background-color: rgba(0, 0, 0, 0.08);
}

.markdown-body pre[copied="true"]::after {
    position: absolute;
    content: "Copied";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);
    text-align: center;
    font-size: 1.6rem;
    color: white;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
span.katex {
    display: inline-flex;
    position: relative;

}
span.katex-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
span.katex::after,
span.katex-display::after {
    position: absolute;
    width: fit-content;
    padding: 4px 8px;
    color: var(--light);
    top: 100%;
    font-size: 0.7rem;
    font-family: 'Fira Mono', monospace;
    background-color: rgba(110, 110, 110, 0.4);
    border-radius: 8px;
    content: attr(latex);
    /* backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); */
    opacity: 0;
    transition: opacity 200ms ease-out;
}

span.katex:hover::after,
span.katex-display:hover::after,
span.katex:hover::after,
span.katex-display:hover::after {
    opacity: 1;
}
