
body {
    --transition-time: 500ms;
    --dark: #313132;
    --light: #f1f2f6;
    --secondary: #acaeb4;
    --accent: #5f69a2;
    --success: #94bf8e;
    --warning: #b55945;


    background-color: var(--dark);
    margin: 0;
    width: 100%;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    box-sizing: border-box;
    width: calc(100% - 50px);
}
.container.top {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1000px) {
    .container {
        width: 60%;
    }
}
#header {
    position: relative;
    display: flex;
    align-items: center;
    /* text-transform: uppercase; */
    font-weight: 600;
    margin-top: 80px;
    color: var(--light);
    letter-spacing: 0.1cex;
    transition: margin 400ms ease-out;
}
#header::after {
    position: absolute;
    left: 0;
    top: calc(1.5rem + 32px);
    content: "";
    width: 100px;
    height: 3px;
    background-color: var(--accent);
    will-change: width;
    transition: width 200ms ease-out;
}
#header.hidden::after {
    display: none;
}
#header > a {
    font-weight: 900;
    left: -30px;
    text-align: right;
    position: absolute;
    text-decoration: none;
    color: inherit;
    display: none;
}
#header.hidden > a {
    display: block;
}
#console {
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 80px;
    padding: 0 20px 20px 20px;
    height: 320px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    line-height: 1.5em;
    outline: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
    will-change: height;
    transition: height 400ms ease-out, margin 400ms ease-out;
    font-family: 'Fira Mono', monospace;
}
#console.hidden {
    padding: 0 20px 0 20px;
    margin: 5px 0 5px 0;
    height: 0;
}
#command {
    padding-top: 20px;
    /* height: fit-content; */
}
#console::-webkit-scrollbar {
    display: none;
}
#console a {
    color: inherit;
}
.cursor {
    animation: blink 1000ms step-end infinite ;
}

@keyframes blink {
    0% {
        background-color: var(--light);
        color: var(--dark);
    }
    50% {
        background-color: transparent;
        color: inherit;
    }

}

.green {
    color: var(--success);
}
.red {
    color: var(--warning);
}
.gray {
    color: var(--secondary)
}
.profile {
    display: block;
    align-self: center;
    margin: 80px auto 30px;
    height: 320px;
    width: 500px;
    box-shadow: 0px 0px 40px rgba(239, 39, 239, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgba(162,102,246,0.3);
}
.avatar {
    height: 100px;
    width: 100px;
    background-image: url(assets/avatar.jpeg);
    background-clip: content-box;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 100px;
}
#console .avatar {
    margin-top: -56px;
    border: 6px solid rgba(70, 98, 222, 0.5);
    box-shadow: 0px 8px 40px rgba(70, 98, 222, 0.4), 0px 4px 20px rgba(0, 0, 0, 0.12);
}
.profile>h1 {
    color: rgb(70, 98, 222);
    font-family: "Helvetica Now", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 15px;
}
.profile>h2 {
    color: #c2c9d8;
    font-family: "Helvetica Now", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin: 0 0 6px;
}
.profile>hr {
    width: calc(100% - 80px);
    border-color: rgba(97, 94, 110, 0.2);
}
.profile>.location {
    color: #637fc1;
    margin: 8px 0 6px;
    display: flex;
    align-items: center;
}
.location i {
    margin-right: 4px;
    /* width: 25px; */
    /* display: inline-block; */
}
.links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links>a {
    margin: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    transition: transform 200ms ease-out, box-shadow 200ms ease-out;
}
.links>a:hover {
    transform: scale(1.1) translateY(-4px);
    box-shadow: 0px 8px 30px rgba(70, 98, 222, 0.4), 0px 2px 10px rgba(0, 0, 0, 0.12);
}
.links>.fa-instagram {
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    box-shadow: 0px 4px 20px rgba(250,38,151,0.3);
}
.links>.fa-twitter {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(94,127,247,1) 17.8%, rgba(2,223,255,1) 100.2% );
    box-shadow: 0px 4px 20px rgba(94,127,247,0.3);
}
.links>.fa-facebook {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(162,102,246,1) 0%, rgba(203,159,249,1) 90% );
    box-shadow: 0px 4px 20px rgba(162,102,246,0.3);
}
.links>.fa-github {
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgb(65, 73, 94) 0%, rgba(7,3,53,1) 97.5% );
    box-shadow: 0px 4px 20px rgba(65, 73, 94, 0.3);
}
.links>.fa-envelope {
    background-image: linear-gradient( 129.1deg,  rgb(43, 188, 75) 26.8%, rgb(28, 210, 164) 114.1% );
    box-shadow: 0px 4px 20px rgba(43, 188, 75,0.3);

}
#over-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--transition-time) ease-in-out;
}
#profile-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform var(--transition-time) ease-in-out;
}
#over-panel.hidden{
    transform: translateY(-100vh);
    opacity: 0;
    transition: opacity var(--transition-time) ease-in-out, transform 0ms var(--transition-time);
}
#profile-container.hidden{
    transform: translateY(-100vh);
    opacity: 0;
    transition: transform var(--transition-time) ease-in-out, opacity 0ms var(--transition-time);
}
#profile-container>.profile {
    background-color: rgb(218, 231, 243);
    border: none;
}
#profile-container>.profile>h2 {
    color: rgb(77, 82, 87);
}
#profile-container>.profile>.location {
    color: rgb(26, 105, 184);
}
#fake-input {
    position: absolute;
    opacity: 0;
}

#list {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#list > div {
    margin-top: 60px;
}
@media screen and (min-width: 1000px) {
    #list {
        flex-direction: row;
        transition: margin-left 200ms ease-out;
    }
    #list.show-profile {
        margin-left: -100px;
    }
}
#list.hidden,
#post.hidden {
    display: none;
}

.list-head {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 16px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.list-head::after {
    position: absolute;
    left: 0;
    top: calc(1.2rem + 16px);
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--accent);
    will-change: width;
    transition: width 200ms ease-out;
}
.list-profile {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    overflow: hidden;
}
.list-profile > * {
    width: 250px;
}
.list-profile > .avatar {
    width: 100px;
}
.list-profile .name{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.list-profile .bio {
    font-style: italic;
    font-size: 0.9rem;
    margin: 5px 0;
}
.list-profile .info {
    font-size: 0.8rem;
    margin: 3px 0;
}
.list-profile .link {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 0.8rem;
    margin: 3px 0;
    text-decoration: none;
}
.list-profile .link > i {
    text-decoration: none;
    font-size: 1rem;
    margin-right: 0.3rem;
}
.list-profile > .stats {
    
    margin: 20px 0;
    display: flex;
}
.list-profile > .stats > .col {
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    align-items: center;
}
.list-profile > .stats > .col > .stat-number {
    font-size: 1.2rem;
    font-weight: 900;
}
.list-profile > .stats > .col > .col-name {
    font-size: 0.7rem;
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 1000px) {
    .list-profile {
        width: 0;
        opacity: 0;
        display: flex;
        will-change: width;
        transition: width 200ms ease-out, opacity 200ms ease-out, margin-right 200ms ease-out;
    }
    #list.show-profile .list-profile {
        opacity: 1;
        width: 250px;
        margin-right: 20px;
    }
}
.list-main {
    flex: 1;
}
.link-list a {

    color: inherit;
}